/*Я	Часы работы (дневные, вечерние)*/
.ICSS {
    background-color: #ffffff;
    overflow: auto;
    margin: 0;
}

/*Н	Ночные часы работы*/
.NCSS {
    background-color: #CCCC66;
    overflow: auto;
    margin: 0;
}

/*РВ	Часы работы в выходные, праздничные дни*/
.RvCSS {
    background-color: #CCFF66;
    overflow: auto;
    margin: 0;
}

/*С	Сверхурочные часы работы*/
.SCSS {
    background-color: #66FF99;
    overflow: auto;
    margin: 0;
}

/*К	Служебная командировка*/
.KCSS {
    background-color: #66CC99;
    overflow: auto;
    margin: 0;
}

/*ПК	Повышение квалификации с отрывам от работы*/
.PkCSS {
    background-color: #99FFCC;
    overflow: auto;
    margin: 0;
}

/*О	Ежегодный основной оплачиваемый отпуск*/
.OCSS {
    background-color: #CCCCFF;
    overflow: auto;
    margin: 0;
}

/*у	Отпуск в связи с обучением с сохранением заработной платы*/
.YCSS {
    background-color: #9966CC;
    overflow: auto;
    margin: 0;
}

/*УД	Дополнительный отпуск в связи с обучением без сохранения заработной платы*/
.YdCSS {
    background-color: #CC99FF;
    overflow: auto;
    margin: 0;
}

/*Р	Отпуск по беременности и родам*/
.PCSS {
    background-color: #CC66FF;
    overflow: auto;
    margin: 0;
}

/*ОЖ	Отпуск без сохранения заработной платы, предоставляемый работнику по уходу за ребенком*/
.OzCSS {
    background-color: #CC99CC;
    overflow: auto;
    margin: 0;
}

/*ДО	Отпуск без сохранения заработной платы, предоставленный работнику по разрешению работодателя*/
.DoCSS {
    background-color: #FFCCFF;
    overflow: auto;
    margin: 0;
}

/*ОЗ	Отпуск без сохранения заработной платы в случаях, предусмотренных законодательством*/
.OzhCSS {
    background-color: #FF66CC;
    overflow: auto;
    margin: 0;
}

/*Б	Временная нетрудоспособность (кроме случаев, предусмотренных кодом "Т") и отпуска по уходу за больными и по карантину, оформленные листками нетрудоспособности*/
.BCSS {
    background-color: #FF99CC;
    overflow: auto;
    margin: 0;
}

/*Т	Неоплачиваемая нетрудоспособность в случаях, предусмотренных законодательством (в связи с бытовой травмой, по уходу за больными и по карантину и т. д.)*/
.TCSS {
    background-color: #FF6699;
    overflow: auto;
    margin: 0;
}

/*ЛЧ	Часы сокращения работы рабочим и служащим против установленной продолжительности рабочего дня в случаях, предусмотренных законодательством*/
.LchCSS {
    background-color: #CC9999;
    overflow: auto;
    margin: 0;
}

/*ПР	Прогулы (неявки на работу без уважительной причины в течение всего рабочего дня или отсутствие на работе без уважительной причины более 4 часов (непрерывно) в течение всего рабочего дня, административный арест за административные правонарушения, пребывание в медицинском вытрезвителе, забастовки, признанные незаконными, и другие неявки по неуважительным причинам)*/
.PrCSS {
    background-color: #FFCCCC;
    overflow: auto;
    margin: 0;
}

/*В	Выходные дни (для еженедельного отдыха) и праздничные дни*/
.VCSS {
    background-color: #FF6633;
    overflow: auto;
    margin: 0;
}

.PrintVCSS {
    background-color: #D2D2D2;
    overflow: auto;
    margin: 0;
    -webkit-print-color-adjust: exact;
}

/*НН	Неявки по невыясненным причинам (до выяснения обстоятельств)*/
.NnCSS {
    background-color: #FFCC99;
    overflow: auto;
    margin: 0;
}

/*НБ	Отстранение от работы (недопущение к работе) по причинам, предусмотренным законодательством, без начисления заработной платы*/
.NbCSS {
    background-color: #FF9900;
    overflow: auto;
    margin: 0;
}

/*0В	Дополнительные выходные дни (оплачиваемые по договору)*/
.OvCSS {
    background-color: #FFCC66;
    overflow: auto;
    margin: 0;
}

/*X	Прочерк в табеле*/
.XCSS {
    background-color: #FFFFCC;
    overflow: auto;
    display: none;
    margin: 0;
}

.PrintXCSS {
    background-color: #EFEFEF;
    overflow: auto;
    display: none;
    margin: 0;
    -webkit-print-color-adjust: exact;
}

.PrintDefCSS {
    background-color: #EFEFEF;
    overflow: auto;
    margin: 0;
    -webkit-print-color-adjust: exact;
}

.EmptyCSS {
    background-color: white;
    overflow: auto;
    margin: 0;
}

.defCSS {
    background-color: red;
    overflow: auto;
    margin: 0;
}

.paperNum {
    page-break-after: always;
}

#idPoddpis {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    text-align: center;
    vertical-align: bottom;
    height: auto;
}

.EmployeeNameDiv {
    margin-right: 3px;
    margin-left: 3px;
}

.row-bottom {
    vertical-align: bottom;
}


.my-dropdown ul li {
    height: 30px;
    line-height: 30px;
    padding: 0 10px;
}

.my-dropdown ul li:hover {
    background: #aaa;
    color: white;
}

.my-dropdown {
    position: relative;
}

.my-dropdown ul {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    padding:0;
    margin-top: 5px;
    z-index: 1;

    list-style: none;
    overflow-y: scroll;

    min-height: 100px;
}


/*========================================*/
.c-toggle-btn {
    font-family: "Segoe UI";
    line-height: 32px;
    border: 1px solid #adadad;
    box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.117647), 0px 1px 4px rgba(0, 0, 0, 0.117647);
    border-radius: 34px;
    box-sizing: border-box;
    font-size: .8em;
    height: 32px;
    overflow: hidden;
    position: relative !important;
    width: 82px !important;
}

.c-toggle-btn.disabled {
    opacity: .4;
}
.c-toggle-btn > input{
    margin: 0 !important;
}
.c-toggle-btn > input[type=checkbox] {
    cursor: pointer;
    opacity: 0 !important;
    position: absolute !important;
    height: 100%;
    width: 100%;
    z-index: 999;
}

.c-toggle-btn > input[type=checkbox]:checked + div {
    left: -20%;
}

.c-toggle-btn > input[type=checkbox]:disabled {
    cursor: not-allowed;
}

.c-toggle-btn > div {
    align-items: center;
    bottom: 0;
    box-sizing: border-box;
    display: flex !important;
    justify-content: center;
    left: -80%;
    position: absolute !important;
    text-align: center;
    top: 0;
    transition: left 0.35s ease-out;
    width: 200%;
}

.c-toggle-btn > div > label {
    align-items: center;
    box-sizing: border-box;
    cursor: pointer;
    display: flex !important;
    height: 100%;
    justify-content: center;
    margin: 0 !important;
    max-width: 50%;
    position: absolute !important;
    text-align: center;
    top: 0;
    white-space: nowrap;
    width: 50%;
}

.c-toggle-btn > div > label.on {
    background: #5b5;
    color: #fff;
    right: 50%;
}

.c-toggle-btn > div > label.off {
    background: #555;
    color: #ccc;
    left: 50%;
}

.c-toggle-btn > div > span {
    background: #f4f3f3;
    border: 1px solid #adadad;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block !important;
    height: 107%;
    line-height: normal;
    position: relative !important;
    width: 20%;
}