@model TimeSheetPortableClassLibrary.SubjectArea.DtoEmployee

<li class="navbar-text">
    <i class="icon-user icon-white"></i>&nbsp;@string.Format("{0} {1}.{2}.", Model.Surname, Model.Name[0], Model.Patronymic[0])
</li>