@using System.Collections.Specialized
@using TimeSheetPortableClassLibrary.SubjectArea
@model TimeSheetAspNetMvc.Models.Home.DtoTimeSheetEmployeeEditModel
@{
    var rec = Model.Employee.Records.OrderBy(o => o.Date);
}

<div>
    <div>
        <h4>
            @string.Format("{0} {1} {2}", Model.Employee.FactStaffEmployee.Surname, Model.Employee.FactStaffEmployee.Name, Model.Employee.FactStaffEmployee.Patronymic)
            <small style="color: #474646">@string.Format("{0}, ставка: {1}", Model.Employee.FactStaffEmployee.Post.PostSmallName, (double)Model.Employee.FactStaffEmployee.StaffRate)</small>
           
        </h4>
    </div>



    @*@using (Html.BeginForm("DtoTimeSheetEmployeeEdit9", "Home"))
    {*@

        @foreach (var record in Model.Employee.Records.OrderBy(o => o.Date))
        {
            <p>-------------------------------------------------------------------------------</p>
            using (Html.BeginCollectionItem("Records"))
            {
                Html.RenderPartial("EditTemplates/DtoTimeSheetRecord", record);
            }
             
        }
        <input type="submit">





        @*<p></p>
    }*@

</div>
