@using TimeSheetMvc4WebApplication
@model int
@{
    var client = new TimeSheetService();
    var userName = System.Web.HttpContext.Current.User.Identity.Name;
    var approver = client.GetCurrentApproverByLogin(userName);
            if (approver != null)
            {
                userName = String.Format("{0} {1} {2}", approver.Surname, approver.Name, approver.Patronymic);
            }
}




<nav class="navbar navbar-default" @*style="background-image: linear-gradient(to bottom, #428bca 0%, #357ebd 100%); border-color: #428bca; border-radius: 0 "*@ role="navigation">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button><img src="../../Content/Images/logo1.png" alt="УГТУ" class="logo" />
        <a class="navbar-brand" href="/">ИС "Табель"</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav">
            <li id="Show"><a href="@Url.Action("TimeSheetShow", "Home", new { idTimeSheet = Model })"><span class="glyphicon glyphicon-fullscreen"></span> Просмотр табеля</a></li>
            <li id="Print"><a href="@Url.Action("TimeSheetPdf", "Home", new { idTimeSheet = Model })" target="blank"><span class="glyphicon glyphicon-print"></span> Печать табеля</a></li>
            <li id="Approval"><a href="@Url.Action("TimeSheetApproval", "Home", new { idTimeSheet = Model })"><span class="glyphicon glyphicon-retweet"></span> Согласование табеля</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a><span class="glyphicon glyphicon-user"></span> @userName</a></li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</nav>
