@{
    ViewBag.Title = "404. Запрашиваемый ресурс не найден";
    Layout = "~/Views/Shared/TimeSheetLayout.cshtml";
}
<div class="alert alert-warning" style="margin-top: 100px;">
    <h1 style="text-align: center">404. Запрашиваемый ресурс не найден</h1>
</div>
