@model TimeSheetMvc4WebApplication.Models.PaperModel

<table border="2" bordercolor="black" cellpadding="0" cellspacing="0" style="border-collapse: collapse; table-layout: fixed;">
    @Html.Partial("PartialView\\TimeSheetHeader", Model.HeaderStyle)
    @foreach (var employee in Model.Employees)
    {
        @Html.Partial("PartialView\\TimeSheetEmployeePartialView", employee)
    }
</table>
@if (Model.IsLast)
    {@Html.Partial("PartialView\\ApproverListPartialView", Model.Approvers)}

<div class="paperNum">
    @Html.Partial("PartialView\\PaperFooter", Model)
</div>



