<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="CustomBinding_TimeSheetService">
                    <binaryMessageEncoding />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:48456/TimeSheetService.svc"
                binding="customBinding" bindingConfiguration="CustomBinding_TimeSheetService"
                contract="TimeSheetServiceReference.TimeSheetService" name="CustomBinding_TimeSheetService" />
        </client>
    </system.serviceModel>
</configuration>