@using TimeSheetMvc4WebApplication.Models
@model TimeSheetMvc4WebApplication.Models.TimeSheetModel[]


<div>
    @foreach (var timeSheet in Model)
    {
        @Html.Partial("PartialView\\TimeSheetPartialView", timeSheet)
    }
</div>
