@model TimeSheetMvc4WebApplication.ClassesDTO.DtoApprover
@{
    Layout = "~/Views/Shared/TimeSheetLayout.cshtml";
}

@if (Model.DtoApproverDepartments != null && Model.DtoApproverDepartments.Any())
{
    Html.RenderPartial("PartialView/DtoApproverDepartmentListPartial", Model.DtoApproverDepartments);
}
else
{
    <div class="alert alert-error">
        <p>За вами не закреплено ни одного структурного подразделения.</p>
    </div>
}