<div class="footer row-fluid" style="border-top: 1px solid #e7e7e7; background-color: #f8f8f8;padding: 10px;" >
    <div class="navbar-inner" >
        <div class="container" style="color: #777777">
            <div class="pull-left">
                ИС "Табель" ФГБОУ ВПО УГТУ © 2013-@Html.Raw(DateTime.Now.Year)
            </div>
            <div class="pull-right">
                <a href="@Url.Action("Download","Main")" target="_blank" style="color: #777777"><span class="glyphicon glyphicon-question-sign"></span> Руководство пользователя</a>
            </div>
        </div>
    </div>
</div>

<script>
    $(window).load(function () {
        footerPossitionRefresh();
    });
    $(window).resize(function () {
        footerPossitionRefresh();
    });
    
    //$('#mainContainer').on('resize', function () {
    //    console.log("Resized");
    //});
    
    //$('#mainContainer').bind('resize', function () {
    //    console.log("Resized");
    //});

    //$(document).on('DOMSubtreeModified', function() {
    //    footerPossitionRefresh();
    //});

    function footerPossitionRefresh() {
        if ($(document).height()  <= $(window).height())
            $(".footer").addClass("navbar-fixed-bottom");
        else
            $(".footer").removeClass("navbar-fixed-bottom");
        console.log('footer resize');
    }
</script>