@{
    ViewBag.Title = "Отказано в доступе";
    Layout = "~/Views/Shared/TimeSheetLayout.cshtml";
}

<div class="alert alert-warning" style="margin-top: 100px;">
    <h3>Отказано в доступе к запрашиваемому ресурсу</h3>
</div>
